@model (User User, string Token, ContactType ContactType)

<h4>Hi @(Model.User.FirstName),</h4>
<p>Kindly use this verification code <b>@(Model.Token)</b> to change your @(Model.ContactType.Humanize(LetterCasing.LowerCase)).</p>